@import "src/app/styles/variables.scss";
.blocTitle{
  color: $secondary-color !important;
}
.selectContainer{
    label {
      font-size: 16px;
      margin-bottom: 8px;
      display: block; // Ensures that the label is on its own line
      font-family: 'Raleway'
    }

    select {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

    }


    option {
      font-size: 14px;

    }


  }
