<div class="container" style="margin-top: 10%;">
    <p-card header="Reinitialiser votre mot de passe">
        <p-progressSpinner *ngIf="loading" class=""></p-progressSpinner>
        <div [hidden]="loading">
            <div style="color: red;">{{ResultMessage}}</div>
            <form *ngIf="!ResultMessage" [formGroup]="passwordResetForm" class="formgrid grid p-fluid"
                (ngSubmit)="submit()">
                <div class="field col-12">
                    <label for="password">Nouveau mot de passe</label>
                    <p-password id="password" formControlName="password"></p-password>
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div *ngIf="passwordResetForm.get('password')?.touched && passwordResetForm.get('password')?.hasError(validation.type)"
                            class="invalid-feedback">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <div class="field col-12">
                    <label for="password-confirm">Confirmer votre nouveau mot de passe</label>
                    <p-password [feedback]="false" id="password-confirm" aria-describedby="password-help"
                        formControlName="confirmPassword"></p-password>
                    <div class="invalid-feedback"
                        *ngIf="passwordResetForm.hasError('passwordMismatch') && passwordResetForm.get('confirmPassword')?.touched">
                        Le mot de passe doit être le même
                    </div>
                </div>
                <input class="primary-button" type="submit" value="Confirmer" [disabled]="passwordResetForm.invalid">
            </form>
            <input class="primary-button m-3" value="Retour au login" *ngIf="loginButton" routerLink="/login">
        </div>
    </p-card>
</div>