<nav class="navbar">
    <div class="container flex justify-content-between">
        <div class="navbar-logo">
            <img src="../../../assets/img/logo.png" class="navbar-logo-img" alt="logo" /><small class="ml-2"></small>
        </div>
        <div class="navbar-items">

            <a class="button-link" [routerLink]="['/loggedIn/home']">Home</a>

            <a class="button-link" [routerLink]="['/loggedIn/home/MyReservations']">Mon espace étudiant</a>

            <a class="button-link" [routerLink]="['/login']">Déconnexion</a>



        </div>
    </div>
</nav>
