<div class="container">
  <h2 class="title py-4">Gestion Des Administrateurs
    <button class="secondary-button" style="float:right" (click)="Add()">
      <span class="pi pi-plus" aria-hidden="true"></span> Ajouter un administrateur
    </button>
  </h2>

  <div class="card p-4">
    <p-table #dt [value]="usersList" [rowHover]="true" columnResizeMode="expand" [rows]="5" styleClass="p-datatable"
      [showCurrentPageReport]="true" [paginator]="true" currentPageReportTemplate="{totalRecords} administrateurs(s)"
      [filterDelay]="0">
      <ng-template pTemplate="headergrouped">
        <tr class="bg-white">
          <th>Email </th>
          <th>Etat</th>
          <th>Actions</th>
        </tr>

      </ng-template>
      <ng-template pTemplate="body" let-u>
        <tr class="p-selectable-row">
          <td>{{ u.email }}</td>
          <td>
            <p-tag *ngIf="u.enabled" severity="success" value="Active"></p-tag>
            <p-tag *ngIf="!u.enabled" severity="danger" value="Desactivé"></p-tag>
          </td>
          <td class="action">
            <img src="../../../../assets/icon/edit.svg" alt="edit" (click)="Edit(u.id)">
            <img src="../../../../assets/icon/trash.svg" alt="trash" (click)="Delete(u.id)">
            <img src="../../../../assets/icon/settings.svg" alt="reset" (click)="Reset(u.email)">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Aucune administrateur trouvée.</td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation"></p-confirmDialog>
    <p-toast></p-toast>

  </div>
</div>