<div class="container">
  <div class="blocTitle">
    <h2 class="title py-4">
      <!--<span class="pi pi-building"></span>-->
      🏢 Gestion Des Blocs
    </h2>

    <div class="input-wrapper">
      <button class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#7e4fd4" d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z"></path>
          <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" stroke="#7e4fd4" d="M22 22L20 20"></path>
        </svg>
      </button>
      <input placeholder="search.." class="input" name="text" type="text" [(ngModel)]="nomBloc">

    </div>
  </div>

  <div class="card p-4">
    <div class="buttonSection">
      <button pRipple class=" secondary-button scheduler" (click)="goToScheduler()">
        <span class="pi pi-calendar " aria-hidden="true"></span> Schedule
      </button>
      <button pRipple class="secondary-button addButton" (click)="Add()">
        <span class="pi pi-plus pi-building" aria-hidden="true"></span> Ajouter un Bloc
      </button>
    </div>
    <p-table #dt [value]="blocService.data"
             [rowHover]="true" columnResizeMode="expand" [rows]="5" styleClass="p-datatable" [showCurrentPageReport]="true" [paginator]="true"
             currentPageReportTemplate="{totalRecords} Bloc(s)" [filterDelay]="0">
      <!--data table header group , includes search bars -->
      <ng-template pTemplate="headergrouped">

        <tr class="bg-white">
          <th>Color</th>
          <th>Nom</th>
          <th>Capactie</th>
          <th>Foyer</th>

          <th>Actions</th>
        </tr>
       <!-- <tr class="bg-white">
          <th>
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="p-column-filter" placeholder="Nom">
              </span>
          </th>
          <th>
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="p-column-filter" placeholder="Capacite">
              </span>
          </th>

        </tr>-->

      </ng-template>

      <ng-template pTemplate="body" let-bl>
        <tr class="p-selectable-row" [hidden]="!(bl.nom.toUpperCase().indexOf(nomBloc.toUpperCase()) != -1)">
          <td pTooltip="{{bl.color}}" tooltipPosition="left">
            <div class="blocColor" [ngStyle]="{'background-color' : bl.color}">

            </div>
          </td>
          <td>{{ bl.nom }}</td>
          <td>{{ bl.capacite }} </td>
          <td>{{bl.foyer.nom}}</td>
          <!--<td>{{ uni.foyer ? uni.foyer.nom : 'N/A' }}</td>-->
          <td class="action">
            <img src="../../../../assets/icon/edit.svg" alt="edit"(click)="Edit(bl.id)">
            <img src="../../../../assets/icon/trash.svg" alt="trash"(click)="Delete(bl.id)">
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td  colspan="4">Aucun bloc trouvé.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-confirmDialog header="Confirmation"></p-confirmDialog>

    <p-toast position="bottom-center"></p-toast>

    <div class="exportButtons">
      <button  class="secondary-button scheduler"  type="button" (click)="exportPDF()"   >
        <span class="pi pi-file-pdf"></span> Exporter PDF
      </button>
      <button class="secondary-button scheduler"  type="button" (click)="exportExcel()"   >
        <span class="pi pi-file-excel"></span> Exporter Excel
      </button>
    </div>
  </div>

</div>

