@import "src/app/styles/variables.scss";
// BLOC LIST STYLES
.blocTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    color: $secondary-color;
    display: inline-block;
    margin: 5px;
    margin-right: 20px;
  }
  button{
    //height should be the default height of the button
    height: 100%;
    display: inline-block;
    margin: 5px;
  }
  .scheduler{
    flex-grow:1;

    margin: 5px;
  }

}
// GESTION BUTTONS STYLES
.buttonSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  button{
    //height should be the default height of the button
    height: 100%;
    display: inline-block;
    margin: 5px;
  }
  .scheduler{
    flex-grow:1;

    margin: 5px;
  }
  .addButton{
    background-color: $secondary-color;
    border-color: $secondary-color;

  }
}
.exportButtons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  button{
    //height should be the default height of the button
    height: 100%;
    display: inline-block;
    margin: 5px;
  }

}
// SEARCH BAR STYLES
$color_1: #000;
$color_2: #8f8f8f;
$font-family_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$background-color_1: #7e4fd4;
$background-transparent: transparent;

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.input {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: .5s ease-in-out;
  background-color: $background-transparent;
  box-shadow: 0px 0px 3px #f3f3f3;
  padding-right: 40px;
  color: #7e4fd4;
  font-family: $font-family_1;
  font-size: 17px;
  &::placeholder {
    font-family: $font-family_1;
    font-size: 17px;
    color: $secondary-color;
  }
  &:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: $background-transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: $background-transparent;

  transition: .2s linear;
  &:focus {
    ~ {
      .input {
        box-shadow: none;
        width: 250px;
        border-radius: 0px;
        background-color: $background-transparent;
        border-bottom: 3px solid $secondary-color;/*#7e4fd4;*/
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      }
    }
  }
}


.blocColor{
  width:20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
}


