<div class="container">
    <h2 class="title py-4">Gestion Des Chambres
      <button class="secondary-button" style="float:right" (click)="Add()">
        <span class="pi pi-plus" aria-hidden="true"></span> Ajouter une chambre
      </button>
    </h2>
  
    <div class="card p-4">
      <p-table #dt [value]="chambreService.chambres" dataKey="id" styleClass="p-datatable" [rowHover]="true"
        columnResizeMode="expand" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [filterDelay]="0">
        <ng-template pTemplate="header">
          <tr class="bg-white">
            <th>ID</th>
            <th>Numéro de Chambre</th>
            <th>Capacité</th>
            <th>Description</th>
            <th>Type de Chambre</th>
            <th>Disponible</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr >
            <td>{{data.id}}</td>
            <td>{{data.numero}}</td>
            <td>{{data.capacity}}</td>
            <td>{{data.description}}</td>
            <td>{{data.type}}</td>
            <td>{{data.available ? 'Oui' : 'Non'}}</td>
            <td class="action">
              <button pButton type="button" icon="pi pi-pencil" (click)="Edit(data)" label="Modifier"></button>
              <button pButton type="button" icon="pi pi-trash" (click)="Delete(data)" label="Supprimer"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Aucune chambre trouvée</td>
          </tr>
        </ng-template>
      </p-table>
      <p-confirmDialog header="Confirmation"></p-confirmDialog>
    </div>
  </div>
  